/* import the font styles before the tailwind imports, else it will not apply */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

.cl-internal-b3fm6y {
  background-color: #559f7d;
}

.cl-card {
  border-radius: 0.2rem;
}

// forms

.ant-form-item {
  margin-bottom: 5px;
}

table {
  border: 1px solid grey !important;
  margin-top: 10px !important;
}
