/* import the font styles before the tailwind imports, else it will not apply */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #ebeae8;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

.cl-internal-b3fm6y {
  background-color: #559f7d;
}

.cl-card {
  border-radius: 0.2rem;
}

// forms

.ant-form-item {
  margin-bottom: 5px;
}

table {
  border: none !important;
  margin-top: 10px !important;
  box-shadow: 2px 8px 16px rgb(184, 183, 183) !important;
}

.ant-table-thead tr th {
  background: #978e7732 !important;
}

.ant-upload {
  width: 172px !important;
  height: 150px !important;
}

/* property main image animation */

.property-main-image {
  transition: all 0.5s ease-in-out;
}

.property-main-image:hover {
  transform: scale(1.05);
}

// dropdown

.ant-dropdown-menu {
  width: 165px;
}
